## This file must *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.
#
# Location of the Android SDK. For example:
# sdk.dir=/Users/username/Library/Android/sdk
# OR
# sdk.dir=C\:\\Users\\username\\AppData\\Local\\Android\\sdk

sdk.dir=YOUR_ANDROID_SDK_PATH

# Public identifier for your own Spotify Developer Dashboard application.
# Do not add a Spotify client secret to an Android app.
SPOTIFY_CLIENT_ID=YOUR_SPOTIFY_CLIENT_ID
